html, body, .pwd-container {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Orbitron', sans-serif;
}

.pwd-header {
    font-size: xx-large;
    margin-bottom: 20px;
    text-align: center;
}

.jumbotron {
    height: 100%;
}

.pwd-result {
    display: none;
    margin-top: 40px;
    text-align: center;
    font-size: x-large;
}

#passwordProgress {
    display: none;
}
